{% extends 'main/navbar_footer.html' %} {% block title %}Temporary Worker Hiring Cost Input{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body>
   <div class="w-1/2 p-4 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <form method="POST" class="space-y-6">
      <h1 class="text-xl font-extrabold text-gray-900 uppercase dark:text-white">Please Insert Monthly Temporary Worker Hiring Cost Input</h1>
         {% csrf_token %}
         {% for x in detail %}
         <div class="grid grid-cols-2 gap-2 lg:grid-cols-4">
            <label for="costHiring1" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Month 1:</label>
            <input required min="1" type="number" step="0.01" value={{x.costHiring1}} name="costHiring1" id="costHiring1" placeholder="Month 1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
            <label for="costHiring2" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Month 2:</label>
            <input required min="1" type="number" step="0.01" value={{x.costHiring2}} name="costHiring2" id="costHiring2" placeholder="Month 2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
            <label for="costHiring3" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Month 3:</label>
            <input required min="1" type="number" step="0.01" value={{x.costHiring3}} name="costHiring3" id="costHiring3" placeholder="Month 3" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
            <label for="costHiring4" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Month 4:</label>
            <input required min="1" type="number" step="0.01" value={{x.costHiring4}} name="costHiring4" id="costHiring4" placeholder="Month 4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         </div>
         {% endfor %}
         <button type="submit" name="Submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm</button>
      </form>
   </div>
</body>
{% endblock %}
