{% extends 'main/navbar_footer.html' %} {% block title %}Holding Cost per Unit Input{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body>
   <form method="POST" class="w-full max-w-2xl p-4 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 mt-14">
      <h1 class="text-xl font-medium text-gray-900 dark:text-white">Please Insert Needed Input</h1>
      {% csrf_token %}
      <div class="p-6">
         {% for x in detail %}
         <label for="costHoldingUnit1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Holding Cost per Unit for Month 1:</label>
         <input required min="1" type="number" step="0.01" value={{x.costHoldingUnit1}} name="costHoldingUnit1" id="costHoldingUnit1" placeholder="Holding Cost per Unit for Month 1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
         <label for="costHoldingUnit2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Holding Cost per Unit for Month 2:</label>
         <input required min="1" type="number" step="0.01" value={{x.costHoldingUnit2}} name="costHoldingUnit2" id="costHoldingUnit2" placeholder="Holding Cost per Unit for Month 2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
         <label for="costHoldingUnit3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Holding Cost per Unit for Month 3:</label>
         <input required min="1" type="number" step="0.01" value={{x.costHoldingUnit3}} name="costHoldingUnit3" id="costHoldingUnit3" placeholder="Holding Cost per Unit for Month 3" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
         <label for="costHoldingUnit4" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Holding Cost per Unit for Month 4:</label>
         <input required min="1" type="number" step="0.01" value={{x.costHoldingUnit4}} name="costHoldingUnit4" id="costHoldingUnit4" placeholder="Holding Cost per Unit for Month 4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
         {% endfor %}
         <div class="flex justify-center pt-3 space-x-2">
            <button type="submit" name="Submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm</button>
         </div>
      </div>
   </form>
</body>
{% endblock %}
