{% extends 'main/navbar_footer.html' %} {% block title %}Demand Input{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body>
   <form method="POST" class="w-full max-w-2xl p-4 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 mt-14">
      <h1 class="text-xl font-extrabold text-gray-900 uppercase dark:text-white">Please Insert Needed Input</h1>
      {% csrf_token %}
      <div class="p-6">
         {% for x in detail %}
         <label for="demand1" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 1:</label>
         <input required min="0" type="number" step="1" value={{x.demand1}} name="demand1" id="demand1" placeholder="Demand for Month 1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand2" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 2:</label>
         <input required min="0" type="number" step="1" value={{x.demand2}} name="demand2" id="demand2" placeholder="Demand for Month 2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand3" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 3:</label>
         <input required min="0" type="number" step="1" value={{x.demand3}} name="demand3" id="demand3" placeholder="Demand for Month 3" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand4" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 4:</label>
         <input required min="0" type="number" step="1" value={{x.demand4}} name="demand4" id="demand4" placeholder="Demand for Month 4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand5" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 5:</label>
         <input required min="0" type="number" step="1" value={{x.demand5}} name="demand5" id="demand5" placeholder="Demand for Month 5" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand6" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 6:</label>
         <input required min="0" type="number" step="1" value={{x.demand6}} name="demand6" id="demand6" placeholder="Demand for Month 6" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand7" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 7:</label>
         <input required min="0" type="number" step="1" value={{x.demand7}} name="demand7" id="demand7" placeholder="Demand for Month 7" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand8" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 8:</label>
         <input required min="0" type="number" step="1" value={{x.demand8}} name="demand8" id="demand8" placeholder="Demand for Month 8" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         <label for="demand9" class="block m-auto text-sm font-medium text-gray-900 dark:text-white">Demand for Month 9:</label>
         <input required min="0" type="number" step="1" value={{x.demand9}} name="demand9" id="demand9" placeholder="Demand for Month 9" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         {% endfor %}
         <div class="flex space-x-2 justify-center pt-3">
            <button type="submit" name="Submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm</button>
         </div>
      </div>
   </form>
</body>
{% endblock %}
