{% extends 'main/navbar_footer.html' %} {% block title %}Edit Profile{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body>
    <div class="w-full max-w-2xl p-4 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h1 class="text-xl font-extrabold text-gray-900 uppercase dark:text-white">Edit User Profile</h1>
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            
            <label class="block m-auto mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name:</label>
            <input required type="text" name="first_name" id="fname" value="{{ userData.first_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
        
            <label class="block m-auto mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name:</label>
            <input required type="text" name="last_name" id="lname" value="{{ userData.last_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
            
            <label class="block m-auto mb-2 text-sm font-medium text-gray-900 dark:text-white">Username:</label>
            <input required type="text" name="username" id="username" value="{{ userData.username }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center">
         
            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
        </form>
    </div>
</body>
{% endblock %}
