{% extends 'main/navbar_footer.html' %}
{% block title %}Feedback{% endblock  %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
<script src="http://cdn.tailwindcss.com"></script>
<body>
  <div class="w-full max-w-2xl p-4 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h1 class="text-xl font-extrabold text-gray-900 uppercase dark:text-white">Feel Free to Provide Us with Your Feedback</h1>
    <form method="POST" class="space-y-6">
      {% csrf_token %}
      <div>
        <label for="subject" class="block m-auto mb-2 text-sm font-medium text-gray-900 dark:text-white">Subject:</label>
        {% render_field form.subject placeholder="Subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center"%}
      </div>
      <div>
        <label for="content" class="block m-auto mb-2 text-sm font-medium text-gray-900 dark:text-white">Content:</label>
        {% render_field form.content placeholder="Content" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white text-center"%}
      </div>

        <button type="submit" name="Submit" onclick="alert('Feedback Sent!')" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
  </div>
</body>

{% endblock %}