{% extends 'main/navbar_footer.html' %}
{% block title %}History{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
{% if messages %}
    {% for message in messages %}
    <script>alert('{{ message }}');</script>
    {% endfor %}
{% endif %}
<body class="min-h-screen bg-neutral-100" style="min-height: 400px; margin-bottom: 100px; clear: both;">
  <div class='m-5 overflow-x-auto'>
    <table class="bg-white p-6 drop-shadow-lg rounded-[18px] ml-[325px] mt-[5px] font-[Poppins] w-[24rem] overflow-hidden m-10">
      {% comment %} Four Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-neutral-100" colspan="3">Four Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListFour %}
      <tr class="text-center text-white border-sky-700">
        <td class="p-5 text-sm font-semibold text-center text-black bg-white whitespace-nowrap border-sky-700">
          {{list.planName}}
        </td>
        <td class="p-5 text-sm font-semibold text-center text-black bg-white border-sky-700">
          <div class="flex flex-wrap justify-center">
            <a href={% url 'demandFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
            <a href={% url 'numPermanentFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
            <a href={% url 'inventoryInitialFinal' 'Four' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
            <a href={% url 'costHiringFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
            <a href={% url 'costFiringFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
            <a href={% url 'costHoldingUnitFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
            <a href={% url 'prodPermanentFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
            <a href={% url 'prodTemporaryFour' list.planName %} class="w-2/5 p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
          </div>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-sky-700">
          <div class="flex flex-wrap">
            <a href={% url 'viewDetailFour' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
            <a href={% url 'deleteDetailFour' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
            <a href={% url 'downloadFour' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
          </div>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white border-sky-700">
        <td class="p-5 font-semibold text-center text-black bg-white border-transparent whitespace-nowrap" colspan="3">
          No Four Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Five Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Five Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListFive %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Five' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadFive' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Five Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Six Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Six Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListSix %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Six' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporarySix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-r-white border-b-sky-700">
          <a href={% url 'viewDetailSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadSix' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparantv" colspan="3">
          No Six Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Seven Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Seven Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListSeven %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Seven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporarySeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadSeven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Seven Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Eight Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Eight Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListEight %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Eight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadEight' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Eight Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Nine Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Nine Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListNine %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Nine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadNine' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Nine Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Ten Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Ten Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListTen %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Ten' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadTen' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Ten Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Eleven Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Eleven Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListEleven %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Eleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadEleven' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Eleven Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Twelve Month Plans {% endcomment %}
      <tr class="text-center text-white">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Twelve Month Plan
        </td>
      </tr>
      <tr class="text-center text-white">
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Plan Name
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700">Variables
        </td>
        <td class="px-6 py-4 text-sm font-semibold text-center uppercase bg-sky-700 border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListTwelve %}
      <tr class="text-center text-white">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap  p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Demand</a>
          <a href={% url 'numPermanentTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Twelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Hiring Cost</a>
          <a href={% url 'costFiringTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Firing Cost</a>
          <a href={% url 'costHoldingUnitTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Temporary Worker Production</a>
        </td>
        <td class="p-5 font-semibold text-center text-black bg-white border-white whitespace-nowrap">
          <a href={% url 'viewDetailTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Delete Plan</a>
          <a href={% url 'downloadTwelve' list.planName %} class="w-full p-2 m-1 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-center text-white">
        <td class="p-5 font-semibold text-center text-black bg-white whitespace-nowrap border-transparant" colspan="3">
          No Twelve Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      <!--end of table-->
    </table>
    </div>
</body>
{% endblock  %} 