{% extends 'main/navbar_footer.html' %} {% block title %}Home Page{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-neutral-100" style="min-height: 400px; margin-bottom: 100px; clear: both;">
   
   <form method="POST" class="bg-white p-6 drop-shadow-lg rounded-[18px] ml-[635px] mr-[400px] mt-[120px] font-[Poppins] w-[24rem] overflow-hidden m-10">
      <h1 class="block px-4 py-4 text-3xl font-black text-center text-transparent bg-clip-text bg-gradient-to-b from-sky-700 to-sky-900">Create a New Production Plan!</h1>
      {% csrf_token %}
      <div class="p-6">
         <label for="planName" class="block mb-2 text-sm font-bold text-gray-600">Plan Name:</label>
         <input required type="text" name="planName" id="planName" placeholder="Plan Name" class="block w-full px-3 py-2 mt-1 mb-6 text-center bg-white border rounded-md shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 sm:text-sm focus:ring-1">

         <label for="monthRange" class="block mb-2 text-sm font-bold text-gray-600">Range of Month:</label>
         <select required name="monthRange" id="monthRange" class="block w-full px-3 py-2 mt-1 mb-6 text-center bg-white border rounded-md shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 sm:text-sm focus:ring-1">
            <option selected value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
            <option value='7'>7</option>
            <option value='8'>8</option>
            <option value='9'>9</option>
            <option value='10'>10</option>
            <option value='11'>11</option>
            <option value='12'>12</option>
         </select> 

         <div class="flex justify-center pt-3 space-x-2">
            <button type="submit" name="Submit" class="w-full py-2 font-bold text-white transition duration-300 ease-in-out bg-orange-500 rounded-md drop-shadow-lg hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white">Create Plan</button>
         </div>
      </div>
   </form>
</body>
{% endblock %}
