{% extends 'main/navbar_footer.html' %}
<!-- Extends the 'main/navbar_footer.html' template. -->
{% block title %}Details{% endblock %}
<!-- Sets the title block to "Details". -->
{% block content %}
<!-- Starts the content block. -->
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<!-- Link to import the 'Poppins' font from Google Fonts. -->
<script src="http://cdn.tailwindcss.com"></script>
<!-- Script to load Tailwind CSS from a CDN. -->
<body>
<!-- Starts the body section of the HTML. -->
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <!-- Div container with relative positioning, horizontal overflow handling, shadow, and rounded corners for small screens. -->
            <div class="w-full p-2 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow sm:p-4 md:p-6 dark:bg-gray-800 dark:border-gray-700">
            <!-- Div container with full width, padding, centered text, white background, border, rounded corners, shadow, and dark mode support. -->
                  {% for x in detail %}
                  <!-- Start of a for loop iterating over 'detail'. -->
                  <h1 class="mb-6 text-xl font-extrabold text-black uppercase dark:text-white">
                  <!-- Heading with bottom margin, extra-bold font, uppercase text, and dark mode support. -->
                        Plan Name: {{x.name}}
                        <!-- Displays the plan name from the 'x' object. -->
                  </h1>
                  <!-- End of heading. -->
                  <div class="relative overflow-x-auto border border-gray-200 dark:border-gray-700">
                  <!-- Div container with relative positioning, horizontal overflow handling, border, and dark mode support. -->
                        <table class="w-full text-sm text-center text-black rtl:text-right dark:text-white ">
                        <!-- Table with full width, small text size, centered text, right-to-left text alignment, and dark mode support. -->
                              <thead class="text-xs font-medium text-black uppercase bg-gray-50 dark:bg-gray-700 dark:text-white">
                              <!-- Table header with small text size, medium font weight, black text, uppercase, background color, and dark mode support. -->
                                    <tr>
                                    <!-- Table row for header title. -->
                                          <td colspan="4" scope="col" class="p-2 text-sm font-extrabold border dark:border-gray-700">Sensitivity Analysis Results</td>
                                          <!-- Table cell spanning 4 columns, with padding, small text size, extra-bold font, border, and dark mode support, displaying "Sensitivity Analysis Results". -->
                                    </tr>
                                    <!-- End of table row for header title. -->
                                    <tr>
                                    <!-- Table row for column headers. -->
                                          <td scope="col" class="p-2">Month</td>
                                          <!-- Table cell with padding, displaying "Month". -->
                                          <td scope="col" class="p-2">Current Demand</td>
                                          <!-- Table cell with padding, displaying "Current Demand". -->
                                          <td scope="col" class="p-2">Allowable Increase on Demand</td>
                                          <!-- Table cell with padding, displaying "Allowable Increase on Demand". -->
                                          <td scope="col" class="p-2">Allowable Decrease on Demand</td>
                                          <!-- Table cell with padding, displaying "Allowable Decrease on Demand". -->
                                    </tr>
                                    <!-- End of table row for column headers. -->
                              </thead>
                              <!-- End of table header. -->
                              <tbody>
                              <!-- Start of table body. -->
                                    {% if x.length >= 1 %}
                                    <!-- Condition to check if 'x.length' is at least 1. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">1</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "1". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand1 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the first month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.0 }} ({{ increasedDemands.0 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the first month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.0 }} ({{ decreasedDemands.0 }})</td>
                                          <!-- Table cell with padding, displaying the first month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the first month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 1. -->
                                    {% if x.length >= 2 %}
                                    <!-- Condition to check if 'x.length' is at least 2. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">2</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "2". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand2 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the second month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.1 }} ({{ increasedDemands.1 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the second month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.1 }} ({{ decreasedDemands.1 }})</td>
                                          <!-- Table cell with padding, displaying the second month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the second month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 2. -->
                                    {% if x.length >= 3 %}
                                    <!-- Condition to check if 'x.length' is at least 3. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">3</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "3". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand3 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the third month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.2 }} ({{ increasedDemands.2 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the third month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.2 }} ({{ decreasedDemands.2 }})</td>
                                          <!-- Table cell with padding, displaying the third month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the third month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 3. -->
                                    {% if x.length >= 4 %}
                                    <!-- Condition to check if 'x.length' is at least 4. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">4</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "4". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand4 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the fourth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.3 }} ({{ increasedDemands.3 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the fourth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.3 }} ({{ decreasedDemands.3 }})</td>
                                          <!-- Table cell with padding, displaying the fourth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the fourth month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 4. -->
                                    {% if x.length >= 5 %}
                                    <!-- Condition to check if 'x.length' is at least 5. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">5</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "5". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand5 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the fifth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.4 }} ({{ increasedDemands.4 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the fifth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.4 }} ({{ decreasedDemands.4 }})</td>
                                          <!-- Table cell with padding, displaying the fifth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the fifth month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 5. -->
                                    {% if x.length >= 6 %}
                                    <!-- Condition to check if 'x.length' is at least 6. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">6</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "6". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand6 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the sixth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.5 }} ({{ increasedDemands.5 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the sixth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.5 }} ({{ decreasedDemands.5 }})</td>
                                          <!-- Table cell with padding, displaying the sixth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the sixth month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 6. -->
                                    {% if x.length >= 7 %}
                                    <!-- Condition to check if 'x.length' is at least 7. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">7</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "7". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand7 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the seventh month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.6 }} ({{ increasedDemands.6 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the seventh month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.6 }} ({{ decreasedDemands.6 }})</td>
                                          <!-- Table cell with padding, displaying the seventh month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the seventh month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 7. -->
                                    {% if x.length >= 8 %}
                                    <!-- Condition to check if 'x.length' is at least 8. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">8</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "8". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand8 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the eighth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.7 }} ({{ increasedDemands.7 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the eighth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.7 }} ({{ decreasedDemands.7 }})</td>
                                          <!-- Table cell with padding, displaying the eighth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the eighth month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 8. -->
                                    {% if x.length >= 9 %}
                                    <!-- Condition to check if 'x.length' is at least 9. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">9</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "9". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand9 }}</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the ninth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.8 }} ({{ increasedDemands.8 }})</td>
                                          <!-- Table cell with padding, border, and dark mode support, displaying the ninth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.8 }} ({{ decreasedDemands.8 }})</td>
                                          <!-- Table cell with padding, displaying the ninth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row for the ninth month. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 9. -->
                                    {% if x.length >= 10 %}
                                    <!-- Condition to check if 'x.length' is at least 10. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">10</th>
                                          <!-- Table header cell for row, with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "10". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand10 }}</td>
                                          <!-- Table cell with padding and border displaying the tenth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.9 }} ({{ increasedDemands.9 }})</td>
                                          <!-- Table cell with padding and border displaying the tenth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.9 }} ({{ decreasedDemands.9 }})</td>
                                          <!-- Table cell with padding displaying the tenth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 10. -->
                                    {% if x.length >= 11 %}
                                    <!-- Condition to check if 'x.length' is at least 11. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">11</th>
                                          <!-- Table header cell for row with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "11". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand11 }}</td>
                                          <!-- Table cell with padding and border displaying the eleventh month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.10 }} ({{ increasedDemands.10 }})</td>
                                          <!-- Table cell with padding and border displaying the eleventh month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.10 }} ({{ decreasedDemands.10 }})</td>
                                          <!-- Table cell with padding displaying the eleventh month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' is at least 11. -->
                                    {% if x.length == 12 %}
                                    <!-- Condition to check if 'x.length' equals 12. -->
                                    <tr class="border odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 dark:border-gray-700">
                                    <!-- Table row with alternating background colors for odd and even rows, border, and dark mode support. -->
                                          <th scope="row" class="p-2 font-medium text-black uppercase border border-gray-200 whitespace-nowrap dark:text-white dark:border-gray-700">12</th>
                                          <!-- Table header cell for row with padding, medium font weight, black text, uppercase, border, and dark mode support, displaying "12". -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ x.demand12 }}</td>
                                          <!-- Table cell with padding and border displaying the twelfth month's demand from 'x'. -->
                                          <td class="p-2 border border-gray-200 dark:border-gray-700">{{ aiDemands.11 }} ({{ increasedDemands.11 }})</td>
                                          <!-- Table cell with padding and border displaying the twelfth month's allowable increase in demand and the increased demand. -->
                                          <td class="p-2">{{ adDemands.11 }} ({{ decreasedDemands.11 }})</td>
                                          <!-- Table cell with padding displaying the twelfth month's allowable decrease in demand and the decreased demand. -->
                                    </tr>
                                    <!-- End of table row. -->
                                    {% endif %}
                                    <!-- End of condition to check if 'x.length' equals 12. -->
                              </tbody>
                              <!-- End of table body. -->
                        </table>
                        <!-- End of table. -->
                  </div>
                  <!-- End of div container for table. -->
                  {% endfor %}
                  <!-- End of for loop iterating over 'detail'. -->
            </div>
            <!-- End of outer div container. -->      </div>
      <!-- End of outer div container. -->
</body>
<!-- End of body section. -->
{% endblock %}
<!-- End of content block. -->